{%  load static %}

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Dharwizi</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      
      Designed by <a href="#">fafi</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static  '/vendor/apexcharts/apexcharts.min.js' %}    "></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}   "></script>
  <script src="{% static '/vendor/chart.js/chart.min.js' %}   "></script>
  <script src="{% static '/vendor/echarts/echarts.min.js' %}   "></script>
  <script src="{% static ' /vendor/quill/quill.min.js' %}  "></script>
  <script src="{% static '/vendor/simple-datatables/simple-datatables.js' %}   "></script>
  <script src="{% static '/vendor/tinymce/tinymce.min.js' %}    "></script>
  <script src="{% static ' /vendor/php-email-form/validate.js' %}  "></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}   "></script>
